.intro-background {
	display: flex;
}

.intro-item {
	justify-content: center;
	flex: 1;
	margin-top: 5%;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;
  font-size: 18px;
}

.about-list {
	display: inline;
}

.intro-picture {
  width: 60%;
  height: auto;
}

.really-item {
	font-size: 12px;
	font-style: italic;
	padding-right: 65px;
	float: right;
	cursor: pointer

}

.really {
	position: absolute;
	right: 50px;
	top: 50%;
	width: 220px;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.button-item {
	border: 2px solid black;
	cursor: pointer;
	border-radius: 8px;
	background: lightgrey;
	font-size: 20px;
	margin: 0 25px;
	padding: 4px 10px;
}

.extra {
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
}


